<!-- the nav bar -->
<nav class="container">
    <div class="logo">
        <a href="/"><img class="logo" src="/images/mu.png" alt=""></a>
    </div>

    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/archive">Achive</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>


</nav>