<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <% include partials/nav %>
  <h1>
    <%= title %>
  </h1>
  

  <div class="about"><p>Welcome to the
      <%= title %> blog.
    </p>

    <div >
      <p>The blog is to find news about Manchester united like live scores , latest transfer news, and some club news.
        Manchester United Football Club, commonly known as Man United, or simply United, is a professional football
        club based in Old Trafford, Greater Manchester, England, that competes in the Premier League, the top flight of
        English football.</p>

      <button class="sign-up">Sign-up</button>
      <button class="login">login</button>
    </div>
  </div>



</body>

</html>